html{
  background-color: #000;
}

.app-container{
  color:#000;
  background-color: #000;
}

.btn.btn-primary {
  background-color: deeppink;
  border:2px solid whitesmoke;
  margin:10px;

}

.btn1{
  background-color: greenyellow;
}

Card {
  color:#000;
}

